h3 Privacy Policy
p This website keeps information that is collected by Android GeoWifi application. That data can be used to profile user behavior and track user location. I also keep a GPS location of user when registering location of wireless network. You should contact website administrator by email if You want Your data removed.

a href="mailto:geowifi@ipepe.pl" Email to Admin