//= require_tree .
//= require_self
@import "bootswatch-sass/paper/bootstrap.scss";

.navbar{
  border-radius: 0px;
}

.glyphicon{
  padding: 3px;
}

body, .container, .container-fluid{
  max-width: 100vw;
  word-wrap: break-word;
}

